body{
    top: auto;
    background-color: rgba(27, 11, 114, 0);
    text-align: middle;
  background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?cs=srgb&dl=pexels-abdullah-ghatasheh-1631677.jpg&fm=jpg);
}